@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <strong>Mobile Store</strong></h1>
    <img src="~/images/mobileStore.png" class="w-50 m-1"/><br />
    <a class="btn btn-primary" asp-area="" asp-page="/CreateOrder">Create Your Order</a> 
</div>
