@page
@model MobileStore.Pages.ProductsModel
@{
}

<div class="text-center">
    <h3>
        Discover a world of choice with our diverse range of mobile products, designed to cater to every style and need.
    </h3>
    <br />
    <div class="row">

        @foreach (var item in Model.MobileModels)
        {
            var imagePath = "./images/" + (item.ImageName + ".png");

            <div class="col-4">
                <img src="@imagePath" class="w-50" />
                <h5>@item.MobileName</h5>
                <h6>@item.MoblePrice $</h6>
            </div>

        }

    </div>
</div>